[Desktop Entry]
Encoding=UTF-8
Name=Link to Shiny - COVID-19 tracker
Type=Link
URL=https://shiny.posit.co/r/gallery/life-sciences/covid19-tracker/
Icon=text-html
